<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="svg" href="globe1.svg">
  <title>Tiago Marques</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap" rel="stylesheet">

    <style>
    @keyframes typewriter {
        from {
        width: 0;
        }
        to {
        width: 100%;
        }
    }

    @keyframes blinkCursor {
        from, to {
        border-color: transparent;
        }
        50% {
        border-color: #C53234;
        }
    }

    .typewriter {
        overflow: hidden;
        border-right: 3px solid #C53234;
        white-space: nowrap;
        animation: 
        /* typewriter 3s steps(13, end) forwards, */
        blinkCursor 0.75s step-end infinite;
    }
    </style>

</head>
<body class="bg-[#efe6de] text-[#C53234] min-h-screen min-w-screen h-screen w-screen flex flex-col justify-center">

  <div class="flex flex-col md:flex-row w-full h-full min-h-screen min-w-screen">
    
    <!-- LADO ESQUERDO -->
    <div class="flex-1 flex flex-col justify-between p-8">
        <!-- ÍCONES NO TOPO -->
        <div class="flex justify-between text-2xl mb-4">
            <img src="globe.svg" alt="Globe" class="w-12 h-12 hover:text-[#3E000C] transition-colors duration-500"  >
        </div>
    
        <div class="absolute gap-0 bottom-2 right-1">
            <h3 class="font-[Inter] font-bold text-[64px] leading-none">
                WHERE CREATIVITY
            </h3>
            <h3 class="font-[Inter] gap-0 font-bold text-[64px] leading-none text-right">
                MEETS SCIENCE.
            </h3>
        </div>
      
        <h2 class="font-[Inter] font-light text-[96px] tracking-[0.2em] whitespace-nowrap 
                    absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  
                    typewriter">
            TIAGO MARQUES
        </h2>
        
        <!-- LINKS INFERIORES -->
        <div class="flex flex-col gap-2 absolute bottom-8 left-8 leading-none">
            <a href="https://github.com/TMarques01" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Code</a>
            <a href="/music" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Music</a>
            <a href="/information" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Information</a>
            <a href="/other" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Other</a>
        </div>

    </div>

    <!-- LADO DIREITO: IMAGEM -->
    <div class="flex-1 h-screen w-screen">
        <img src="tiago1.png" alt="Tiago Marques" class="w-full h-full object-cover">
    </div>

  </div>

</body>
</html>
