<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="svg" href="../globe1.svg">
    <title>Music</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,400;1,14..32,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap" rel="stylesheet">

</head>
<body class="bg-[#efe6de] text-[#C53234] min-h-screen">

    <div class="flex flex-col md:flex-row w-full h-full min-h-screen min-w-screen">
        
        <!-- LEFT SIDE: Title and Description -->
        <div class="w-1/2 flex flex-col justify-between  p-8">
                
            <!-- ÍCONE GLOBO NO TOPO -->
                <div class="flex justify-between text-2xl mb-4">
                    <img src="globe.svg" alt="Globe" class="w-12 h-12 hover:text-[#3E000C] transition-colors duration-500"  >
                </div>

                <div class="flex flex-col justify-center items-center flex-1">
                    <a href="https://linktr.ee/lauslater" class="font-[Inter] font-bold text-[80px] mb-6 leading-tight  hover:text-[#3E000C] transition-colors duration-500">LAU SLATER</a>
                    <p class="font-[Inter] font-light text-[36px] max-w-lg leading-tight text-centr">
                        a band from Barcelos.
                    </p>
                </div>

                <div class="flex flex-col gap-2 absolute bottom-8 left-8 leading-none">
                    <a href="https://github.com/TMarques01" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Code</a>
                    <a href="/" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Home</a>
                    <a href="/information" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Information</a>
                    <a href="/other" class="font-[Inter] font-light text-[27px] hover:text-[#3E000C] transition-colors duration-500">Other</a>
                </div>
            </div>
            
            <!-- RIGHT SIDE: Photo -->
            <div class="flex-1 h-screen w-screen">
                <img src="music-lau-slater/IMG_3394_1.png" class="w-full h-full object-cover">
            </div>
            
        </div>

    </div>

</body>
</html>